<tr>
<td><%= rconfig.maincode %></td>
<td><%= rconfig.subcode %></td>
<td><%= rconfig.title %></td>
<td><%= rconfig.description %></td>
<td><%= rconfig.deleteflg %></td>
<td><%= link_to "更新", edit_rconfig_path(rconfig), class: "btn btn-primary btn-xs"%></td>
</tr>
