<tr>
<td><%= link_to rconfig.maincode, rconfig %></td>
<td><%= link_to rconfig.subcode, rconfig %></td>
<td><%= link_to rconfig.title, rconfig %></td>
<td><%= link_to rconfig.description, rconfig %></td>
<td><%= link_to rconfig.deleteflg, rconfig %></td>
<td><%= link_to "更新", user, method: update } %></td>
</tr>
