<tr>
<td><%= link_to user.uid, user %></td>
<td><%= link_to user.name, user %></td>
<td><%= link_to user.division, user %></td>
<td><%= link_to user.team, user %></td>
<td>
 <% if current_user.admin == "1" && !current_user?(user) %>
     <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "削除しますか?" } %>
  <% end %>
</td>
</tr>
